@dropdown-menu-bg-color: if(isdefined(@td-dropdown-menu-bg-color), @td-dropdown-menu-bg-color, @bg-color-container);
@dropdown-body-max-height: if(isdefined(@td-dropdown-body-max-height), @td-dropdown-body-max-height, 280px);

@tree-bg-color: if(isdefined(@td-tree-bg-color), @td-tree-bg-color, @bg-color-container);
@tree-root-bg-color: if(isdefined(@td-tree-root-bg-color), @td-tree-root-bg-color, @bg-color-secondarycontainer);
@tree-item-active-color: if(isdefined(@td-tree-item-active-color), @td-tree-item-active-color, @brand-color);
@tree-item-height: if(isdefined(@td-tree-item-height), @td-tree-item-height, 48px);
@tree-item-font-size: if(isdefined(@td-tree-item-font-size), @td-tree-item-font-size, 16px);

@item: ~"@{prefix}-dropdown-item";
