@item: ~"@{prefix}-tab-bar-item";

@tab-bar-height: if(isdefined(@td-tab-bar-height), @td-tab-bar-height, 40px);
@tab-bar-color: if(isdefined(@td-tab-bar-color), @td-tab-bar-color, @text-color-primary);
@tab-bar-bg-color: if(isdefined(@td-tab-bar-bg-color), @td-tab-bar-bg-color, @bg-color-container);
@tab-bar-border-color: if(isdefined(@td-tab-bar-border-color), @td-tab-bar-border-color, @border-color);
@tab-bar-hover-bg-color: if(isdefined(@td-tab-bar-hover-bg-color), @td-tab-bar-hover-bg-color, rgba(0, 0, 0, .05));
@tab-bar-active-color: if(isdefined(@td-tab-bar-active-color), @td-tab-bar-active-color, @brand-color);
@tab-bar-active-bg: if(isdefined(@td-tab-bar-active-bg), @td-tab-bar-active-bg, @brand-color-light);
@tab-bar-spread-shadow: if(isdefined(@td-tab-bar-spread-shadow), @td-tab-bar-spread-shadow, @shadow-3);
@tab-bar-spread-border-color: if(isdefined(@td-tab-bar-spread-border-color), @td-tab-bar-spread-border-color, @border-color);
