@avatar-bg-color: if(isdefined(@td-avatar-bg-color), @td-avatar-bg-color, @brand-color-light-active);
@avatar-content-color: if(isdefined(@td-avatar-content-color), @td-avatar-content-color, @brand-color);
@avatar-small-width: if(isdefined(@td-avatar-small-width), @td-avatar-small-width, 40px);
@avatar-medium-width: if(isdefined(@td-avatar-medium-width), @td-avatar-medium-width, 48px);
@avatar-large-width: if(isdefined(@td-avatar-large-width), @td-avatar-large-width, 64px);

@avatar-text-small-font-size: if(isdefined(@td-avatar-text-small-font-size), @td-avatar-text-small-font-size, @font-size-base);
@avatar-text-medium-font-size: if(isdefined(@td-avatar-text-medium-font-size), @td-avatar-text-medium-font-size, @font-size-m);
@avatar-text-large-font-size: if(isdefined(@td-avatar-text-large-font-size), @td-avatar-text-large-font-size, @font-size-xl);

@avatar-icon-small-font-size: if(isdefined(@td-avatar-icon-small-font-size), @td-avatar-icon-small-font-size, 20px);
@avatar-icon-medium-font-size: if(isdefined(@td-avatar-icon-medium-font-size), @td-avatar-icon-medium-font-size, 24px);
@avatar-icon-large-font-size: if(isdefined(@td-avatar-icon-large-font-size), @td-avatar-icon-large-font-size, 32px);

@avatar-border-width-small: if(isdefined(@td-avatar-border-width-small), @td-avatar-border-width-small, 1px);
@avatar-border-width-medium: if(isdefined(@td-avatar-border-width-medium), @td-avatar-border-width-medium, 2px);
@avatar-border-width-large: if(isdefined(@td-avatar-border-width-large), @td-avatar-border-width-large, 3px);
@avatar-border-color: if(isdefined(@td-avatar-border-color), @td-avatar-border-color, @bg-color-container);
@avatar-circle-border-radius: if(isdefined(@td-avatar-circle-border-radius), @td-avatar-circle-border-radius, @radius-circle);
@avatar-round-border-radius: if(isdefined(@td-avatar-round-border-radius), @td-avatar-round-border-radius, @radius-default);

@avatar-margin-left: if(isdefined(@td-avatar-margin-left), @td-avatar-margin-left, 0);

//组合头像偏移量
@avatar-group-offset-small: if(isdefined(@td-avatar-group-margin-left-small), @td-avatar-group-margin-left-small, -8px);
@avatar-group-offset-medium: if(isdefined(@td-avatar-group-margin-left-medium), @td-avatar-group-margin-left-medium, -8px);
@avatar-group-offset-large: if(isdefined(@td-avatar-group-margin-left-large), @td-avatar-group-margin-left-large, -8px);
@avatar-group-line-spacing: if(isdefined(@td-avatar-group-line-spacing), @td-avatar-group-line-spacing, 2px);

@avatar-group-init-zIndex: 50;
