@slider: ~"@{prefix}-slider";
@slider-bar-width: if(isdefined(@td-slider-bar-width), @td-slider-bar-width, 4px);
@slider-bar-height: if(isdefined(@td-slider-bar-height), @td-slider-bar-height, 4px);
@slider-dot-bg-color: if(isdefined(@td-slider-dot-bg-color), @td-slider-dot-bg-color, #fff);
@slider-dot-size: if(isdefined(@td-slider-dot-size), @td-slider-dot-size, 20px);
@slider-dot-color: if(isdefined(@td-slider-dot-color), @td-slider-dot-color, @bg-color-secondarycontainer);
@slider-default-color: if(isdefined(@td-slider-default-color), @td-slider-default-color, @bg-color-secondarycomponent);
@slider-default-disabled-color: if(isdefined(@td-slider-default-color), @td-slider-default-color, @bg-color-component-disabled);
@slider-active-color: if(isdefined(@td-slider-active-color), @td-slider-active-color, @brand-color);
@slider-active-disabled-color: if(isdefined(@td-slider-disabled-color), @td-slider-disabled-color, @brand-color-disabled);
@slider-disabled-text-color: if(isdefined(@td-slider-disabled-text-color), @td-slider-disabled-text-color, @text-color-disabled);
@slider-scale-desc-color: if(isdefined(@td-slider-scale-desc-color), @td-slider-scale-desc-color, @text-color-primary);

// capsule
@slider-capsule-bar-width: if(isdefined(@td-slider-capsule-bar-width), @td-slider-capsule-bar-width, 24px);
@slider-capsule-bar-height: if(isdefined(@td-slider-capsule-bar-height), @td-slider-capsule-bar-height, 24px);
@slider-capsule-bar-color: if(isdefined(@td-slider-capsule-bar-color), @td-slider-capsule-bar-color, @bg-color-component);
@slider-capsule-line-height: if(isdefined(@td-slider-capsule-line-height), @td-slider-capsule-line-height, 18px);
