@rate-text-font-size: if(isdefined(@td-rate-text-font-size), @td-rate-text-font-size, @font-size-m);
@rate-text-color: if(isdefined(@td-rate-text-color), @td-rate-text-color, @text-color-disabled);
@rate-text-active-color: if(isdefined(@td-rate-text-active-color), @td-rate-text-active-color, @text-color-primary);
@rate-disabled-selected-color: if(isdefined(@td-rate-disabled-selected-color), @td-rate-disabled-selected-color, @warning-color-3);
@rate-disabled-unselected-color: if(isdefined(@td-rate-disabled-unselected-color), @td-rate-disabled-unselected-color, @gray-color-2);
@rate-selected-color: if(isdefined(@td-rate-selected-color), @td-rate-selected-color, @warning-color);
@rate-unselected-color: if(isdefined(@td-rate-unselected-color), @td-rate-unselected-color, @bg-color-secondarycomponent);
@rate-text-active-font-weight: if(isdefined(@td-rate-text-active-font-weight), @td-rate-text-active-font-weight, 600);
@rate-icon-scale: if(isdefined(@td-rate-icon-scale), @td-rate-icon-scale, 1.33);
