@picker: ~"@{prefix}-picker";
@item: ~"@{picker}-item";

@picker-border-radius: if(isdefined(@td-picker-border-radius), @td-picker-border-radius, 12px);
@picker-toolbar-height: if(isdefined(@td-picker-toolbar-height), @td-picker-toolbar-height, 58px);

@picker-cancel-color: if(isdefined(@td-picker-cancel-color), @td-picker-cancel-color, @text-color-secondary);
@picker-confirm-color: if(isdefined(@td-picker-confirm-color), @td-picker-confirm-color, @brand-color);
@picker-button-font-size: if(isdefined(@td-picker-button-font-size), @td-picker-button-font-size, 16px);

@picker-title-font-size: if(isdefined(@td-picker-title-font-size), @td-picker-title-font-size, 18px);
@picker-title-font-weight: if(isdefined(@td-picker-title-font-weight), @td-picker-title-font-weight, 600);
@picker-title-line-height: if(isdefined(@td-picker-title-line-height), @td-picker-title-line-height, 26px);
@picker-title-color: if(isdefined(@td-picker-title-color), @td-picker-title-color, @text-color-primary);

@picker-item-height: if(isdefined(@td-picker-item-height), @td-picker-item-height, 40px);
@picker-bg-color: if(isdefined(@td-picker-bg-color), @td-picker-bg-color, @bg-color-container);
@picker-mask-color-top: if(isdefined(@td-picker-mask-color-top), @td-picker-mask-color-top, hsla(0, 0%, 100%, .92));
@picker-mask-color-bottom: if(isdefined(@td-picker-mask-color-bottom), @td-picker-mask-color-bottom, hsla(0, 0%, 100%, .4));

@picker-indicator-bg-color: if(isdefined(@td-picker-indicator-bg-color), @td-picker-indicator-bg-color, @bg-color-secondarycontainer);
@picker-indicator-border-radius: if(isdefined(@td-picker-indicator-border-radius), @td-picker-indicator-border-radius, 6px);

@picker-group-height: if(isdefined(@td-picker-group-height), @td-picker-group-height, 200px);
@picker-item-height: if(isdefined(@td-picker-item-height), @td-picker-item-height, 40px);
@picker-item-color: if(isdefined(@td-picker-item-color), @td-picker-item-color, @text-color-secondary);
@picker-item-active-color: if(isdefined(@td-picker-item-active-color), @td-picker-item-active-color, @text-color-primary);
@picker-item-disabled-color: if(isdefined(@td-picker-item-disabled-color), @td-picker-item-disabled-color, @text-color-disabled);
