@search-bg-color: if(isdefined(@td-search-bg-color), @td-search-bg-color, @bg-color-secondarycontainer);
@search-text-color: if(isdefined(@td-search-text-color), @td-search-text-color, @text-color-primary);
@search-label-color: if(isdefined(@td-search-label-color), @td-search-label-color, @text-color-primary);
@search-font-size: if(isdefined(@td-search-font-size), @td-search-font-size, @font-size-m);
@search-height: if(isdefined(@td-search-height), @td-search-height, 40px);
@search-padding: if(isdefined(@td-search-padding), @td-search-padding, 8px 12px);
@search-placeholder-color: if(isdefined(@td-search-placeholder-color), @td-search-placeholder-color, @text-color-placeholder);
@search-icon-color: if(isdefined(@td-search-icon-color), @td-search-icon-color, @text-color-placeholder);
@search-icon-font-size: if(isdefined(@td-search-icon-font-size), @td-search-icon-font-size, 24px);
@search-square-radius: if(isdefined(@td-search-square-radius), @td-search-square-radius, @radius-default);
@search-round-radius: calc(@search-height / 2);
@search-action-color: if(isdefined(@td-search-action-color), @td-search-action-color, @brand-color);
@search-clear-icon-color: if(isdefined(@td-search-clear-icon-color), @td-search-clear-icon-color, @text-color-placeholder);
@search-clear-icon-font-size: if(isdefined(@td-search-clear-icon-font-size), @td-search-clear-icon-font-size, 24px);
@search-result-high-light-color: if(isdefined(@td-search-result-high-light-color), @td-search-result-high-light-color, @brand-color);
