@upload-width: if(isdefined(@td-upload-width), @td-upload-width, 80px);
@upload-height: if(isdefined(@td-upload-height), @td-upload-height, 80px);
@upload-add-color: if(isdefined(@td-upload-add-color), @td-upload-add-color, @text-color-placeholder);
@upload-add-bg-color: var(
  --td-upload-add-bg-color,
  @bg-color-secondarycontainer
);
@upload-background: if(isdefined(@td-upload-background), @td-upload-background, @upload-add-bg-color);
@upload-radius: if(isdefined(@td-upload-radius), @td-upload-radius, @radius-default);
@upload-add-icon-font-size: if(isdefined(@td-upload-add-icon-font-size), @td-upload-add-icon-font-size, 28px);
@upload-delete-icon-color: if(isdefined(@td-upload-delete-icon-color), @td-upload-delete-icon-color, @text-color-anti);
@upload-grid-columns: if(isdefined(@td-upload-grid-columns), @td-upload-grid-columns, 4);
