@loading: ~"@{prefix}-loading";

@loading-color: if(isdefined(@td-loading-color), @td-loading-color, @brand-color);
@loading-text-font-size: if(isdefined(@td-loading-text-font-size), @td-loading-text-font-size, 12px);
@loading-text-line-height: if(isdefined(@td-loading-text-line-height), @td-loading-text-line-height, 20px);
@loading-spinner-color: if(isdefined(@td-loading-spinner-color), @td-loading-spinner-color, @text-color-anti);
