@calendar-radius: if(isdefined(@td-calendar-radius), @td-calendar-radius, 12px);
@calendar-bg-color: if(isdefined(@td-calendar-bg-color), @td-calendar-bg-color, @bg-color-container);
@calendar-active-color: if(isdefined(@td-calendar-active-color), @td-calendar-active-color, @brand-color);
@calendar-selected-color: if(isdefined(@td-calendar-selected-color), @td-calendar-selected-color, @text-color-anti);
@calendar-title-font-size: if(isdefined(@td-calendar-title-font-size), @td-calendar-title-font-size, 18px);
@calendar-title-color: if(isdefined(@td-calendar-title-color), @td-calendar-title-color, @text-color-primary);
@calendar-dates-color: if(isdefined(@td-calendar-dates-color), @td-calendar-dates-color, @text-color-primary);
@calendar-days-color: if(isdefined(@td-calendar-days-color), @td-calendar-days-color, @text-color-secondary);
@calendar-item-suffix-color: if(isdefined(@td-calendar-item-suffix-color), @td-calendar-item-suffix-color, @text-color-placeholder);
@calendar-item-centre-color: if(isdefined(@td-calendar-item-centre-color), @td-calendar-item-centre-color, @brand-color-light);
@calendar-item-disabled-color: if(isdefined(@td-calendar-item-disabled-color), @td-calendar-item-disabled-color, @text-color-disabled);
@calendar-switch-mode-icon-color: if(isdefined(@td-calendar-switch-mode-icon-color), @td-calendar-switch-mode-icon-color, @text-color-secondary);
@calendar-switch-mode-icon-disabled-color: if(isdefined(@td-calendar-switch-mode-icon-disabled-color), @td-calendar-switch-mode-icon-disabled-color, @text-color-disabled);
