@color-picker-panel-width: if(isdefined(@td-color-picker-panel-width), @td-color-picker-panel-width, 375px);
@color-picker-panel-padding: if(isdefined(@td-color-picker-panel-padding), @td-color-picker-panel-padding, 16px);
@color-picker-panel-radius: if(isdefined(@td-color-picker-panel-radius), @td-color-picker-panel-radius, 12px);
@color-picker-panel-background: if(isdefined(@td-color-picker-background), @td-color-picker-background, #fff);
@color-picker-margin: if(isdefined(@td-color-picker-margin), @td-color-picker-margin, 12px);

@color-picker-saturation-height: if(isdefined(@td-color-picker-saturation-height), @td-color-picker-saturation-height, 144px);
@color-picker-saturation-radius: if(isdefined(@td-color-picker-saturation-radius), @td-color-picker-saturation-radius, 6px);
@color-picker-saturation-thumb-size: if(isdefined(@td-color-picker-saturation-thumb-size), @td-color-picker-saturation-thumb-size, 24px);

@color-picker-slider-height: if(isdefined(@td-color-picker-slider-height), @td-color-picker-slider-height, 8px);
@color-picker-slider-wrapper-radius: calc(@color-picker-slider-height / 2);
@color-picker-slider-wrapper-padding: if(isdefined(@td-color-picker-slider-wrapper-padding), @td-color-picker-slider-wrapper-padding, 0 9px);
@color-picker-slider-thumb-size: if(isdefined(@td-color-picker-slider-thumb-size), @td-color-picker-slider-thumb-size, 24px);
@color-picker-slider-thumb-transform-x: if(isdefined(@td-color-picker-slider-thumb-transform-x), @td-color-picker-slider-thumb-transform-x, -9px);
@color-picker-slider-thumb-padding: if(isdefined(@td-color-picker-slider-thumb-padding), @td-color-picker-slider-thumb-padding, 3px);

@color-picker-input-format-margin-left: if(isdefined(@td-color-picker-input-format-margin-left), @td-color-picker-input-format-margin-left, 24px);
@color-picker-gradient-preview-width: if(isdefined(@td-color-picker-gradient-preview-width), @td-color-picker-gradient-preview-width, 28px);
@color-picker-gradient-preview-height: if(isdefined(@td-color-picker-gradient-preview-height), @td-color-picker-gradient-preview-height, 28px);
@color-picker-gradient-preview-radius: if(isdefined(@td-color-picker-gradient-preview-radius), @td-color-picker-gradient-preview-radius, 3px);

@color-picker-swatches-title-font: if(isdefined(@td-color-picker-swatches-title-font), @td-color-picker-swatches-title-font, 16px);
@color-picker-swatch-width: if(isdefined(@td-color-picker-swatch-width), @td-color-picker-swatch-width, 24px);
@color-picker-swatch-height: if(isdefined(@td-color-picker-swatch-height), @td-color-picker-swatch-height, 24px);
@color-picker-swatch-padding: if(isdefined(@td-color-picker-swatch-padding), @td-color-picker-swatch-padding, 0);
@color-picker-swatch-border-radius: if(isdefined(@td-color-picker-swatch-border-radius), @td-color-picker-swatch-border-radius, 3px);
@color-picker-swatch-active: if(isdefined(@td-color-picker-swatch-active), @td-color-picker-swatch-active, rgba(0, 0, 0, 20%));

@color-picker-thumbs-shadow: @shadow-1;
@color-picker-border-radius-circle: if(isdefined(@td-color-picker-border-radius-circle), @td-color-picker-border-radius-circle, 50%);
@color-picker-format-background-color: if(isdefined(@td-color-picker-format-background-color), @td-color-picker-format-background-color, @gray-color-1);

@color-picker: ~"@{prefix}-color-picker";
