@skeleton-animation-gradient: if(isdefined(@td-skeleton-animation-gradient), @td-skeleton-animation-gradient, @text-color-placeholder);
@skeleton-animation-flashed: if(isdefined(@td-skeleton-animation-flashed), @td-skeleton-animation-flashed, rgba(90%, 90%, 90%, .3));
@skeleton-bg-color: if(isdefined(@td-skeleton-bg-color), @td-skeleton-bg-color, @bg-color-secondarycontainer);
@skeleton-row-spacing: if(isdefined(@td-skeleton-row-spacing), @td-skeleton-row-spacing, @spacer-2);
@skeleton-text-height: if(isdefined(@td-skeleton-text-height), @td-skeleton-text-height, 16px);
@skeleton-rect-height: if(isdefined(@td-skeleton-rect-height), @td-skeleton-rect-height, 16px);
@skeleton-circle-height: if(isdefined(@td-skeleton-circle-height), @td-skeleton-circle-height, 48px);
@skeleton-text-border-radius: if(isdefined(@td-skeleton-text-border-radius), @td-skeleton-text-border-radius, @radius-small);
@skeleton-rect-border-radius: if(isdefined(@td-skeleton-rect-border-radius), @td-skeleton-rect-border-radius, @radius-default);
@skeleton-circle-border-radius: if(isdefined(@td-skeleton-circle-border-radius), @td-skeleton-circle-border-radius, @radius-circle);
