@navbar-color: if(isdefined(@td-navbar-color), @td-navbar-color, @text-color-primary);
@navbar-bg-color: if(isdefined(@td-navbar-bg-color), @td-navbar-bg-color, @bg-color-container);
@navbar-height: if(isdefined(@td-navbar-height), @td-navbar-height, 48px);
@navbar-right: if(isdefined(@td-navbar-right), @td-navbar-right, 95px); // 默认右上角胶囊按钮宽度，组件会在初始化时尝试自动获取胶囊按钮宽度并覆写该值
@navbar-padding-top: if(isdefined(@td-navbar-padding-top), @td-navbar-padding-top, 0); // 导航栏顶部间距，组件会在初始化时尝试取右侧系统胶囊位置进行覆盖
@navbar-title-font-size: if(isdefined(@td-navbar-title-font-size), @td-navbar-title-font-size, 18px);
@navbar-title-font-weight: if(isdefined(@td-navbar-title-font-weight), @td-navbar-title-font-weight, 600);
@navbar-left-arrow-size: if(isdefined(@td-navbar-left-arrow-size), @td-navbar-left-arrow-size, 24px);

// capsule
@navbar-capsule-border-color: if(isdefined(@td-navbar-capsule-border-color), @td-navbar-capsule-border-color, #e3e6ea);
@navbar-capsule-border-radius: if(isdefined(@td-navbar-capsule-border-radius), @td-navbar-capsule-border-radius, 16px);
@navbar-capsule-width: if(isdefined(@td-navbar-capsule-width), @td-navbar-capsule-width, 88px);
@navbar-capsule-height: if(isdefined(@td-navbar-capsule-height), @td-navbar-capsule-height, 32px);
