@toast: ~"@{prefix}-toast";
@toast-color: if(isdefined(@td-toast-color), @td-toast-color, @font-white-1);
@toast-bg-color: if(isdefined(@td-toast-bg-color), @td-toast-bg-color, @font-gray-1);
@toast-max-width: if(isdefined(@td-toast-max-width), @td-toast-max-width, 185px);
@toast-radius: if(isdefined(@td-toast-radius), @td-toast-radius, 4px);
@toast-row-icon-size: if(isdefined(@td-toast-row-icon-size), @td-toast-row-icon-size, 24px);
@toast-column-icon-size: if(isdefined(@td-toast-column-icon-size), @td-toast-column-icon-size, 32px);
