@item: ~"@{prefix}-grid-item";

@grid-item-icon-font-size: 24px;

@grid-item-vertical-padding: if(isdefined(@td-grid-item-vertical-padding), @td-grid-item-vertical-padding, 16px 0 12px);
@grid-item-horizontal-padding: if(isdefined(@td-grid-item-horizontal-padding), @td-grid-item-horizontal-padding, 16px 0);
@grid-item-bg-color: if(isdefined(@td-grid-item-bg-color), @td-grid-item-bg-color, @bg-color-container);
@grid-item-image-bg-color: if(isdefined(@td-grid-item-image-bg-color), @td-grid-item-image-bg-color, @bg-color-secondarycontainer);
@grid-item-image-border-radius: if(isdefined(@td-grid-item-image-border-radius), @td-grid-item-image-border-radius, @radius-default);
@grid-item-image-width: if(isdefined(@td-grid-item-image-width), @td-grid-item-image-width, 48px);
@grid-item-image-small-width: if(isdefined(@td-grid-item-image-small-width), @td-grid-item-image-small-width, 32px);
@grid-item-image-middle-width: if(isdefined(@td-grid-item-image-middle-width), @td-grid-item-image-middle-width, 40px);
@grid-item-text-color: if(isdefined(@td-grid-item-text-color), @td-grid-item-text-color, @text-color-primary);
@grid-item-text-font-size: if(isdefined(@td-grid-item-text-font-size), @td-grid-item-text-font-size, 14px);
@grid-item-text-line-height: if(isdefined(@td-grid-item-text-line-height), @td-grid-item-text-line-height, 22px);
@grid-item-text-padding-top: if(isdefined(@td-grid-item-text-padding-top), @td-grid-item-text-padding-top, 8px);
@grid-item-description-font-size: if(isdefined(@td-grid-item-description-font-size), @td-grid-item-description-font-size, 12px);
@grid-item-description-line-height: if(isdefined(@td-grid-item-description-line-height), @td-grid-item-description-line-height, 20px);
@grid-item-description-color: if(isdefined(@td-grid-item-description-color), @td-grid-item-description-color, @text-color-placeholder);
@grid-item-description-padding-top: if(isdefined(@td-grid-item-description-padding-top), @td-grid-item-description-padding-top, 4px);
@grid-item-hover-bg-color: if(isdefined(@td-grid-item-hover-bg-color), @td-grid-item-hover-bg-color, @bg-color-secondarycontainer);
@grid-item-horizontal-text-padding-left: if(isdefined(@td-grid-item-horizontal-text-padding-left), @td-grid-item-horizontal-text-padding-left, 12px);
@grid-item-horizontal-text-description-top: if(isdefined(@td-grid-item-horizontal-text-description-top), @td-grid-item-horizontal-text-description-top, 2px);
@grid-item-border-color: if(isdefined(@td-grid-item-border-color), @td-grid-item-border-color, @component-stroke);
