@checkbox: ~"@{prefix}-checkbox";

@checkbox-border-width: 3px;
@checkbox-icon-size: if(isdefined(@td-checkbox-icon-size), @td-checkbox-icon-size, 24px);
@checkbox-font-size: if(isdefined(@td-checkbox-font-size), @td-checkbox-font-size, 16px);
@checkbox-title-line-height: if(isdefined(@td-checkbox-title-line-height), @td-checkbox-title-line-height, 24px);
@checkbox-description-line-height: if(isdefined(@td-checkbox-description-line-height), @td-checkbox-description-line-height, 22px);
@checkbox-vertical-padding: if(isdefined(@td-checkbox-vertical-padding), @td-checkbox-vertical-padding, 16px);
@checkbox-bg-color: if(isdefined(@td-checkbox-bg-color), @td-checkbox-bg-color, @bg-color-container);
@checkbox-border-color: if(isdefined(@td-checkbox-border-color), @td-checkbox-border-color, @component-stroke);
@checkbox-title-color: if(isdefined(@td-checkbox-title-color), @td-checkbox-title-color, @text-color-primary);
@checkbox-title-disabled-color: if(isdefined(@td-checkbox-title-disabled-color), @td-checkbox-title-disabled-color, @text-color-disabled);
@checkbox-description-color: if(isdefined(@td-checkbox-description-color), @td-checkbox-description-color, @text-color-secondary);
@checkbox-description-disabled-color: if(isdefined(@td-checkbox-description-disabled-color), @td-checkbox-description-disabled-color, @text-color-disabled);
@checkbox-icon-color: if(isdefined(@td-checkbox-icon-color), @td-checkbox-icon-color, var(--td-border-level-2-color, @gray-color-4));
@checkbox-icon-disabled-color: if(isdefined(@td-checkbox-icon-disabled-color), @td-checkbox-icon-disabled-color, @brand-color-disabled);
@checkbox-icon-disabled-bg-color: if(isdefined(@td-checkbox-icon-disabled-bg-color), @td-checkbox-icon-disabled-bg-color, @bg-color-component-disabled);
@checkbox-icon-checked-color: if(isdefined(@td-checkbox-icon-checked-color), @td-checkbox-icon-checked-color, @brand-color);
@checkbox-tag-active-bg-color: if(isdefined(@td-checkbox-tag-active-bg-color), @td-checkbox-tag-active-bg-color, @brand-color-light);
@checkbox-tag-active-color: if(isdefined(@td-checkbox-tag-active-color), @td-checkbox-tag-active-color, @brand-color);
@checkbox-tag-bg-color: if(isdefined(@td-checkbox-tag-bg-color), @td-checkbox-tag-bg-color, @bg-color-component);
