@cell-height: if(isdefined(@td-cell-height), @td-cell-height, auto);
@cell-line-height: if(isdefined(@td-cell-line-height), @td-cell-line-height, 24px);
@cell-vertical-padding: if(isdefined(@td-cell-vertical-padding), @td-cell-vertical-padding, 16px);
@cell-horizontal-padding: if(isdefined(@td-cell-horizontal-padding), @td-cell-horizontal-padding, 16px);
@cell-bg-color: if(isdefined(@td-cell-bg-color), @td-cell-bg-color, @bg-color-container);
@cell-hover-color: if(isdefined(@td-cell-hover-color), @td-cell-hover-color, @bg-color-secondarycontainer);
@cell-border-color: if(isdefined(@td-cell-border-color), @td-cell-border-color, @component-stroke);
@cell-border-left-space: if(isdefined(@td-border-left-space), @td-border-left-space, @cell-horizontal-padding);
@cell-border-right-space: if(isdefined(@td-cell-border-right-space), @td-cell-border-right-space, 0);
@cell-description-color: if(isdefined(@td-cell-description-color), @td-cell-description-color, @text-color-secondary);
@cell-description-font-size: if(isdefined(@td-cell-description-font-size), @td-cell-description-font-size, @font-size-base);
@cell-description-line-height: if(isdefined(@td-cell-description-line-height), @td-cell-description-line-height, 22px);
@cell-note-color: if(isdefined(@td-cell-note-color), @td-cell-note-color, @text-color-placeholder);
@cell-note-font-size: if(isdefined(@td-cell-note-font-size), @td-cell-note-font-size, @font-size-m);
@cell-title-color: if(isdefined(@td-cell-title-color), @td-cell-title-color, @text-color-primary);
@cell-title-font-size: if(isdefined(@td-cell-title-font-size), @td-cell-title-font-size, @font-size-m);
@cell-left-icon-color: if(isdefined(@td-cell-left-icon-color), @td-cell-left-icon-color, @brand-color);
@cell-left-icon-font-size: if(isdefined(@td-cell-left-icon-font-size), @td-cell-left-icon-font-size, 24px);
@cell-right-icon-color: if(isdefined(@td-cell-right-icon-color), @td-cell-right-icon-color, @text-color-placeholder);
@cell-right-icon-font-size: if(isdefined(@td-cell-right-icon-font-size), @td-cell-right-icon-font-size, 24px);
@cell-required-color: if(isdefined(@td-cell-required-color), @td-cell-required-color, @error-color-6);
@cell-required-font-size: if(isdefined(@td-cell-required-font-size), @td-cell-required-font-size, @font-size-m);
@cell-image-width: if(isdefined(@td-cell-image-width), @td-cell-image-width, 48px);
@cell-image-height: if(isdefined(@td-cell-image-height), @td-cell-image-height, 48px);

// cell group
@cell-group-title-font-size: if(isdefined(@td-cell-group-title-font-size), @td-cell-group-title-font-size, 14px);
@cell-group-title-line-height: if(isdefined(@td-cell-group-title-line-height), @td-cell-group-title-line-height, 45px);
@cell-group-title-padding-left: if(isdefined(@td-cell-group-title-padding-left), @td-cell-group-title-padding-left, 16px);
@cell-group-title-bg-color: if(isdefined(@td-cell-group-title-bg-color), @td-cell-group-title-bg-color, @bg-color-secondarycontainer);
@cell-group-title-color: if(isdefined(@td-cell-group-title-color), @td-cell-group-title-color, @text-color-placeholder);
@cell-group-border-color: if(isdefined(@td-cell-group-border-color), @td-cell-group-border-color, @border-color);
