@drawer-width: if(isdefined(@td-drawer-width), @td-drawer-width, 280px);
@drawer-title-font-size: if(isdefined(@td-drawer-title-font-size), @td-drawer-title-font-size, 18px);
@drawer-title-padding: if(isdefined(@td-drawer-title-padding), @td-drawer-title-padding, 24px 16px 8px);
@drawer-bg-color: if(isdefined(@td-drawer-bg-color), @td-drawer-bg-color, @bg-color-container);
@drawer-border-color: if(isdefined(@td-drawer-border-color), @td-drawer-border-color, @border-color);
@drawer-title-color: if(isdefined(@td-drawer-title-color), @td-drawer-title-color, @text-color-primary);
@drawer-icon-color: if(isdefined(@td-drawer-title-color), @td-drawer-title-color, @drawer-title-color);
@drawer-item-padding: if(isdefined(@td-drawer-item-padding), @td-drawer-item-padding, 16px);
@drawer-item-height: if(isdefined(@td-drawer-item-height), @td-drawer-item-height, 24px);
@drawer-item-icon-size: if(isdefined(@td-drawer-item-icon-size), @td-drawer-item-icon-size, 24px);
@drawer-sidebar-height: if(isdefined(@td-drawer-sidebar-height), @td-drawer-sidebar-height, 70vh);
@drawer-footer-padding-bottom: if(isdefined(@td-drawer-footer-padding-bottom), @td-drawer-footer-padding-bottom, 20px);
@drawer-hover-color: if(isdefined(@td-drawer-hover-color), @td-drawer-hover-color, @bg-color-secondarycontainer);
