@footer-text-color: if(isdefined(@td-footer-text-color), @td-footer-text-color, @text-color-placeholder);
@footer-text-font-size: if(isdefined(@td-footer-text-font-size), @td-footer-text-font-size, @font-size-s);
@footer-text-line-height: if(isdefined(@td-footer-text-line-height), @td-footer-text-line-height, 20px);
@footer-text-margin-top: if(isdefined(@td-footer-text-margin-top), @td-footer-text-margin-top, 4px);
@footer-link-color: if(isdefined(@td-footer-link-color), @td-footer-link-color, @brand-color);
@footer-link-font-size: if(isdefined(@td-footer-link-font-size), @td-footer-link-font-size, @font-size-s);
@footer-link-line-height: if(isdefined(@td-footer-link-line-height), @td-footer-link-line-height, 20px);
@footer-title-color: if(isdefined(@td-footer-title-color), @td-footer-title-color, @text-color-primary);

@footer-link-dividing-line-padding: if(isdefined(@td-footer-link-dividing-line-padding), @td-footer-link-dividing-line-padding, @spacer-1);
@footer-link-dividing-line-color: if(isdefined(@td-footer-link-dividing-line-color), @td-footer-link-dividing-line-color, @text-color-placeholder);
@footer-logo-icon-width: if(isdefined(@td-footer-logo-icon-width), @td-footer-logo-icon-width, 24px);
@footer-logo-icon-height: if(isdefined(@td-footer-logo-icon-height), @td-footer-logo-icon-height, 24px);
@footer-logo-icon-margin-right: if(isdefined(@td-footer-logo-icon-margin-right), @td-footer-logo-icon-margin-right, @spacer);
@footer-logo-title-font-size: if(isdefined(@td-footer-logo-title-font-size), @td-footer-logo-title-font-size, @font-size-m);
@footer-logo-title-url-width: if(isdefined(@td-footer-logo-title-url-width), @td-footer-logo-title-url-width, 128px);
@footer-logo-title-line-height: if(isdefined(@td-footer-logo-title-line-height), @td-footer-logo-title-line-height, 24px);
