@radio-icon-size: if(isdefined(@td-radio-icon-size), @td-radio-icon-size, 24px);
@radio-font-size: if(isdefined(@td-radio-font-size), @td-radio-font-size, 16px);
@radio-label-line-height: if(isdefined(@td-radio-label-line-height), @td-radio-label-line-height, 24px);
@radio-content-line-height: if(isdefined(@td-radio-content-line-height), @td-radio-content-line-height, 22px);
@radio-vertical-padding: if(isdefined(@td-radio-vertical-padding), @td-radio-vertical-padding, 16px);
@radio-bg-color: if(isdefined(@td-radio-bg-color), @td-radio-bg-color, @bg-color-container);
@radio-border-color: if(isdefined(@td-radio-border-color), @td-radio-border-color, @component-stroke);
@radio-label-color: if(isdefined(@td-radio-label-color), @td-radio-label-color, @text-color-primary);
@radio-label-disabled-color: if(isdefined(@td-radio-label-disabled-color), @td-radio-label-disabled-color, @text-color-disabled);
@radio-content-color: if(isdefined(@td-radio-content-color), @td-radio-content-color, @text-color-secondary);
@radio-content-disabled-color: if(isdefined(@td-radio-content-disabled-color), @td-radio-content-disabled-color, @text-color-disabled);
@radio-icon-color: if(isdefined(@td-radio-icon-color), @td-radio-icon-color, @component-border);
@radio-icon-disabled-color: if(isdefined(@td-radio-icon-disabled-color), @td-radio-icon-disabled-color, @brand-color-disabled);
@radio-icon-disabled-bg-color: if(isdefined(@td-radio-icon-disabled-bg-color), @td-radio-icon-disabled-bg-color, @bg-color-component-disabled);
@radio-icon-checked-color: if(isdefined(@td-radio-icon-checked-color), @td-radio-icon-checked-color, @brand-color);
