@side-bar-width: if(isdefined(@td-side-bar-width), @td-side-bar-width, 103px);
@side-bar-height: if(isdefined(@td-side-bar-height), @td-side-bar-height, 100%);
@side-bar-bg-color: if(isdefined(@td-side-bar-bg-color), @td-side-bar-bg-color, @bg-color-secondarycontainer);

@side-bar-color: if(isdefined(@td-side-bar-color), @td-side-bar-color, @text-color-primary);
@side-bar-font-size: if(isdefined(@td-side-bar-font-size), @td-side-bar-font-size, 16px);
@side-bar-item-height: if(isdefined(@td-side-bar-item-height), @td-side-bar-item-height, 56px);
@side-bar-item-padding: if(isdefined(@td-side-bar-item-padding), @td-side-bar-item-padding, @spacer-2);
@side-bar-item-line-height: if(isdefined(@td-side-bar-item-line-height), @td-side-bar-item-line-height, 24px);
@side-bar-bg-color: if(isdefined(@td-side-bar-bg-color), @td-side-bar-bg-color, @bg-color-secondarycontainer);
@side-bar-disabled-color: var(
  --td-side-bar-disabled-color,
  @text-color-disabled
);
@side-bar-active-color: if(isdefined(@td-side-bar-active-color), @td-side-bar-active-color, @brand-color);
@side-bar-border-radius: if(isdefined(@td-side-bar-border-radius), @td-side-bar-border-radius, 9px);
@side-bar-icon-size: if(isdefined(@td-side-bar-icon-size), @td-side-bar-icon-size, 20px);
@side-bar-prefix-bg-color: var(
  --td-side-bar-prefix-bg-color,
  @bg-color-container
);
