@indexes-anchor-color: if(isdefined(@td-indexes-anchor-color), @td-indexes-anchor-color, @text-color-primary);
@indexes-anchor-active-color: if(isdefined(@td-indexes-anchor-active-color), @td-indexes-anchor-active-color, @brand-color);
@indexes-anchor-bg-color: if(isdefined(@td-indexes-anchor-bg-color), @td-indexes-anchor-bg-color, @bg-color-secondarycontainer);
@indexes-anchor-active-bg-color: if(isdefined(@td-indexes-anchor-active-bg-color), @td-indexes-anchor-active-bg-color, @bg-color-container);
@indexes-anchor-font-size: if(isdefined(@td-indexes-anchor-font-size), @td-indexes-anchor-font-size, 14px);
@indexes-anchor-line-height: if(isdefined(@td-indexes-anchor-line-height), @td-indexes-anchor-line-height, 22px);
@indexes-anchor-active-font-weight: if(isdefined(@td-indexes-anchor-active-font-weight), @td-indexes-anchor-active-font-weight, 600);
